Flask==3.1.1
flask-cors==6.0.1
Flask-Migrate==4.1.0
PyJWT==2.10.1
PyMySQL==1.1.1
openai==1.99.9
better-profanity==0.7.0
llama-index-core==0.13.1
llama-index-llms-openai==0.5.3
llama-index-embeddings-openai==0.5.0
cachetools==6.1.0
pandas==2.3.2
scikit-learn==1.6.1